body {
  background-color: rgb(182, 128, 233);
  margin: 7px;
}
.container{
  font-size: 15px;
  text-align: center;
  text-shadow: 3px 2px  rgb(166, 42, 228);
}
.App {
  display: flex;
  justify-content: center;
  background-color: rgb(127, 13, 184);
  min-height: 500px;
  margin: 20px auto;
}

/*styling on Input field*/
#todo-form input {
  background-color: rgb(69, 169, 199);
  border: 0px;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: #fff;
}
/*for Outline of Input field*/
#add-btn:hover {
  color: aqua;
  transform: translate(-3px);
}
#todo-form input:focus{
  outline: none;
}
/*styling on Button*/
#todo-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(202, 156, 24);
  cursor: pointer;
  font-weight: bolder;
  color: #fff;
}
#todo-form button:focus{
  outline: none;
}
/*date styling*/
#date{
  margin: 20px;
  text-align: right;
  font-weight: bolder;
  font-size: 21px;
}
